우선 수업시간에 했던 클래스 변수를 보자.

In [31]:
class Family:
  lastname="김"

In [32]:
Family.lastname

'김'

In [33]:
c1=Family()

In [34]:
c1.lastname

'김'

In [35]:
c2=Family()

In [36]:
c2.lastname

'김'

In [37]:
id(Family.lastname)

2348633988112

In [38]:
id(c1.lastname)

2348633988112

In [39]:
id(c2.lastname)

2348633988112

주소가 모두 동일함을 볼 수 있다.

In [40]:
Family.lastname='박'

In [41]:
Family.lastname

'박'

In [42]:
c1.lastname

'박'

In [43]:
c2.lastname

'박'

In [44]:
id(Family.lastname)

2348634067792

In [45]:
id(c1.lastname)

2348634067792

In [46]:
id(c2.lastname)

2348634067792

이 또한 역시 모든 주소가 같다. 그렇다면 클래스의 변수값을 직접 설정하면 어떻게 될까.

In [47]:
c2.lastname='정'

In [48]:
c2.lastname

'정'

In [49]:
c1.lastname

'박'

In [50]:
Family.lastname

'박'

In [51]:
id(c1.lastname)

2348634067792

In [52]:
id(c2.lastname)

2348634070112

In [53]:
id(Family.lastname)

2348634067792

이처럼 직접 지정한 클래스 변수의 주소가 바뀌었는데 이는 여러개를 Family로 지정하고 하나만 바꾸었을 때 그 하나의 주소만 다르게 나타나는데 이는 Family를 지정하더라도 후에 바꾸게 되면 다른 공간에 저장되어 나타남을 알 수 있다.