<a href="https://colab.research.google.com/github/leegyuhi/19-lab/blob/master/jtp_Ch02_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02장 파이썬 프로그래밍의 기초, 자료형

### Q1 
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

|과목|점수|
|----|----|
|국어| 80 |
|영어| 75 |
|수학| 55 |

In [0]:
a=80
b=75
c=55
(a+b+c)/3

70.0

### Q2 
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

나머지 연산자를 사용하면 자연수의 홀수, 짝수를 쉽게 판별할 수 있다

In [0]:
13%2

1

### Q3 
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

※ 문자열 슬라이싱 기법을 사용해 보자.

In [0]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

### Q4 
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [0]:
pin = "881120-1068234"

※ 문자열 인덱싱을 사용해 보자.

In [0]:
print(pin[7])    # 1이면 남자, 2이면 여자

1

성별을 나타내는 숫자는 하이픈을 포함하여 8번째 숫자이므로 8번째 자리를 인덱싱한다.

### Q5 
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [0]:
a = "a:b:c:d"

In [0]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

### Q6 
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

※ 리스트의 내장 함수를 사용해 보자.

In [0]:
a = [1, 3, 5, 4, 2]
a.sort( )
a.reverse( )
print(a)

[5, 4, 3, 2, 1]

리스트의 내장 함수인 sort를 사용하여 리스트 값들을 먼저 정렬한 후 reverse 함수를 사용하여 순서를 뒤집는다.

### Q7 
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [0]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

a 리스트의 각 단어들을 한 문장으로 조립할 때 단어들 사이마다 공백을 넣어 주어야 한다. 1개의 공백문자(" ")를 사용하여 join한다.

### Q8 
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

※ 더하기(+)를 사용해 보자.

In [0]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

a 튜플에 (4, )라는 튜플을 더하면 된다. 단, 이때 만들어지는 a + (4, )의 결과는 a 값이 변경되는 것이 아니라(튜플은 그 값을 변경할 수 없다) 새로운 튜플이 생성되고 그 값이 a 변수에 대입되는 것임에 유념하자.

다음 코드를 실행해 보면 a의 고유 주소 값이 변경됨을 확인할 수 있다.

In [0]:
a = (1, 2, 3)
print (id(a))   
a = a + (4,)
print(a)
print (id(a))

140299468209320
(1, 2, 3, 4)
140299459314216

### Q9 
다음과 같은 딕셔너리 a가 있다.

In [0]:
a = dict()
a

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

3번째 예를 실행하면 다음과 같은 오류가 발생한다.

In [0]:
a[[1]] = 'python'

TypeError: ignored

### Q10 
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [0]:
a = {'A':90, 'B':80, 'C':70}

※ 딕셔너리의 pop 함수를 사용해 보자.

In [0]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)        
print(result)

{'A': 90, 'C': 70}
80

### Q11 
a 리스트에서 중복 숫자를 제거해 보자.

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)   
b = list(aSet)   
print(b)

[1, 2, 3, 4, 5]

리스트 자료형이 집합 자료형으로 변환되면서 중복된 값들은 사라지게 된다. 이와 같은 성질을 사용하면 리스트 내에 중 복된 값을 쉽게 제거할 수 있다.

### Q12 
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [0]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

[1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

# 03장 프로그램의 구조를 쌓는다! 제어문

### Q1
다음 코드의 결괏값은 무엇일까?

In [1]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

결괏값으로 shirt 가 출력된다.

1. 첫 번째 조건: "wife"라는 단어는 a 문자열에 없으므로 거짓이다.
2. 두 번째 조건: "python"이라는 단어는 a 문자열에 있지만 "you" 역시 a 문자열에 있으므로 거짓이다.
3. 세 번째 조건: "shirt"라는 단어가 a 문자열에 없으므로 참이다.
4. 네 번째 조건: "need"라는 단어가 a 문자열에 있으므로 참이다.
가장 먼저 참이 되는 것이 세 번째 조건이므로 "shirt"가 출력된다.

### Q2
while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

3의 배수는 3으로 나누어 떨어지는 수이다. 이러한 아이디어를 기반으로 한 파이썬 코드는 다음과 같다.

In [2]:
result = 0
i = 1
while i <= 1000:
  if i % 3 == 0:
    result += i
  i += 1
print(result)

166833

### Q3
while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [0]:
*
**
***
****
*****

In [4]:
i = 0
while True:
  i += 1
  if i > 5 : break
  print('*' * i)

*
**
***
****
*****

while문을 수행할 때마다 i 값을 증가시킨다. 별 모양을 5번 출력해야 하므로 i 값이 5 이상일 경우 while문을 벗어나도록 한다. 별 모양을 i 값 만큼 출력하기 위해서 문자열 곱하기 기능을 사용한다.

### Q4
for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [6]:
for i in range(1,101):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### Q5
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [7]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
  total += score
  
average = total / len(A)
print(average)

79.0

for문을 사용하여 먼저 총 점수를 구한 후 총 점수를 총 학생 수로 나누어 평균 점수를 구한다.

### Q6
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [0]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [8]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]