<a href="https://colab.research.google.com/github/JungMinNoh/19-lab/blob/master/%EA%B3%B5%ED%95%99%EC%A0%84%EC%82%B0%EC%9D%91%EC%9A%A9_10_08_%EC%88%99%EC%A0%9C_%ED%81%B4%EB%9E%98%EC%8A%A4_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 클래스 변수 - 14108334 노정민 (46번부터 오류 내용 있습니다.)

객체변수는 다른 객체들에 영향받지 않고 독립적으로 그 값을 유지한다는 점을 이미 알아보았다. 이번에는 객체변수와는 성격이 다른 클래스 변수에 대해 알아보자.

In [0]:
class Family:
  lastname = "김"

Family 클래스에 선언한 lastname이 바로 클래스 변수이다. 클래스 변수는 클래스 안에 함수를 선언하는 것과 마찬가지로 클래스 안에 변수를 선언하여 생성한다.

In [38]:
print(Family.lastname)
id(Family.lastname)

김

140106515421744

클래스 변수는 위 예와 같이 클래스이름.클래스 변수로 사용할 수 있다.

또는 다음과 같이 Family 클래스로 만든 객체를 통해서도 클래스 변수를 사용할 수 있다.

In [39]:
a = Family() # 객체를 만들어줌
b = Family() # 객체를 만들어줌
print(a.lastname)
print(b.lastname)
id(a.lastname)
id(b.lastname)

김
김

140106515421744

만약 Family 클래스의 lastname을 다음과 같이 "박"이라는 문자열로 바꾸면 어떻게 될까?

In [0]:
Family.lastname = "박"

In [41]:
print(a.lastname)
id(Family.lastname)

박

140106515422464

In [42]:
print(b.lastname)
id(Family.lastname)

박

140106515422464

클래스 변수 값을 변경했더니 클래스로 만든 객체의 lastname 값도 모두 변경된다는 것을 확인할 수 있다. 즉 클래스 변수는 클래스로 만든 모든 객체에 공유된다는 특징이 있다.

id 함수를 사용하면 클래스 변수가 공유된다는 사실을 증명할 수 있다.

In [43]:
id(Family.lastname)

140106515422464

In [44]:
id(a.lastname)

140106515422464

In [45]:
id(b.lastname)

140106515422464

id 값이 모두 같으므로 Family.lastname, a.lastname, b.lastname은 모두 같은 메모리를 가리키고 있다.

-----

위 내용 까진 책 내용. -> 클래스 변수는 클래스로 만든 모든 객체에 공유한다는 특징이 있다고 했는데 오류를 찾아보자.

In [0]:
c1 = Family()

In [48]:
print(c1.lastname)
id(c1.lastname)

박

140106515422464

In [0]:
c2 = Family()

In [50]:
print(c2.lastname)
id(c2.lastname)

박

140106515422464

여기까지는 클래스 객체의 주소가 같다. 이제 c2 객체를 수정해보자.

In [0]:
c2.lastname = "김"

In [52]:
print(c2.lastname)
id(c2.lastname)

김

140106515449376

c2 객체의 변수를 박에서 김으로 바꿔주었다. 클래스 변수는 클래스로 만든 모든 객체에 공유한다는 점이 있다고 했는데 c1의 값도 바뀌었을까?

In [53]:
print(c1.lastname)
id(c1.lastname)

박

140106515422464

c1 객체의 변수 값은 수정 되지 않았다. 그럼 Family class의 변수 id는 바뀌었을까?

In [56]:
print(Family.lastname)
id(Family.lastname)

박

140106515422464

클래스 자체 변수의 주소가 바뀌지 않았다. 그 말은 즉슨 클래스 자체의 변수를 바꾸면 그 밑의 객체인 c1,c2 의 값은 공유 되지만 객체인 c1,c2 의 변수 값을 고친다고 클래스의 변수 주소값이 달라지지 않는 다는 말이다. 이를 증명 하기 위해서 객체의 변수값이 아닌 클래스 자체의 변수값을 바꿔보자.

In [59]:
Family.lastname = "최"
print(Family.lastname)
id(Family.lastname)

최

140106515451616

In [61]:
print(c1.lastname)
id(c1.lastname)

최

140106515451616

In [62]:
print(c2.lastname)
id(c2.lastname)

김

140106515449376

교수님께서 말하신 오류를 찾았다. 클래스 자체의 변수를 바꿔주었으면 c2.lastname의 주소와 성씨가 같아야 하는데 '최'가 아닌'김'을 나타내고 있다.

개인적인 생각으로는, 51번째 명령어에서 실행한 c2.lastname = "김" 라는 곳에서 c2.lastname 을 문자열인 "김"으로 선언해주었기 떄문에 클래스 변수가 바뀌어도 그 밑의 객체인 c2 의 값이 바뀌지 않는게 아닐까 싶다.